.dog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin: 15px;
  background-color: var(--card-background);
  border-radius: 6px;
  box-shadow: var(--box-shadow);
  width: 300px;
  font-family: "Roboto", sans-serif;
}

.dog-card:hover {
  animation: bounce 0.5s linear;
  cursor: pointer;
}

.fas{
  margin: 5px;
}

.dog-card-title {
  font-weight: bold;
  font-size: large;
  border-bottom: 1px solid var(--details);
  text-transform: uppercase;
}

.dog-card-info,
.dog-card-title {
  margin: .5em;
  letter-spacing: .5px;
  font-size: large;
}

.dog-card-info:last-child{
  margin-bottom: 2em;
}

.card-logo {
  width: 80%;
  height: 200px;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }
  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
  }
}
