.nav-container {
  display: flex;
  width: 100%;
  padding: 1em;
  justify-content: center;
  background-color: var(--primary);
}



.nav-title {
  color: var(--default);
  font-family: "Indie Flower", cursive;
  font-size: 3em;
  margin-right: 20px;
}



.nav-logo {
  width: 70px;
  height: 70px;
}
