.nav-container {
  display: flex;
  width: 100%;
  padding: 1em;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  box-shadow: var(--box-shadow);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  flex-wrap: wrap;
}



.nav-title {
  color: var(--default);
  font-family: "Indie Flower", cursive;
  font-size: 3em;
  margin-right: 20px;
}



.nav-logo {
  width: 5%;
  height: 5%;
}
