.content {
  display: flex;
}



*:root {
  --primary: #99BBEE;
  --secundary: #4470DC;
  --secundary-hover: #351A9B;
  --background: #FFFFFF;
  --card-backgroud: #F7F9FA;
  --details: #777F8A;
  --box-shadow:  0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
